bode{
  font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif;
}
p {
  font-family: Poppins, sans-serif;
}
a {
  font-family: Poppins, sans-serif;
}
ul, ol {
  font-family: Poppins, sans-serif;
}
li {
  font-family: Poppins, sans-serif;
}
button {
  font-family: Poppins, sans-serif;
}
input, textarea {
  font-family: Poppins, sans-serif;
}
label {
  font-family: Poppins, sans-serif;
}
select {
  font-family: Poppins, sans-serif;
}
